@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1600px;
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.card-container{
    @apply w-full flex flex-wrap gap-4 justify-center items-center px-8 py-8 ;
}
.card{
   @apply max-w-[24rem] min-w-[16rem] overflow-hidden rounded-lg shadow-sm bg-rose-500 shadow-black/30;
}